import Head from 'next/head'

export default function {{pageName}}() {
  return (
    <>
      <Head>
        <title>{{pageName}}</title>
      </Head>

      <h1>Hello {{pageName}}</h1>
    </>
  )
}
